extends layout.pug

block content
    h2(class="center")="Buy a card"
    hr
    div(class="cardFormContainer bodyContent")
        div(class="cardContainer")
            div(class="center")=card.name
            hr
            div(class="center")=card.description
            div(class="cardImgContainer")
                img(src=card.img class="cardImg")
        form(class="cardForm")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Full name"
                input(type="text" name="fullName", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Address line 1"
                input(type="text" name="address1", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Address line 2"
                input(type="text" name="address2", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="City"
                input(type="text" name="city", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="State"
                input(type="text" name="state", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Zip"
                input(type="text" name="zip", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Country"
                input(type="text" name="country", class="cardFormInput")
            div(class="cardFormItem")
                div(class="cardFormLabel")="Phone Number"
                input(type="text" name="phoneNumber", class="cardFormInput")
            div(class="CardFormsubmit")
                input(type="submit" value="Buy", class="cardFormSubmitInput")
                input(type="submit" value="Sell", class="cardFormSubmitInput")
