extends layout.pug

block content
    h1="Welcome to the Quiz Taking Website"
    hr
    p="We made some graphs for you."
    canvas(class="canvas-chart" id="toppings" data=toppings)
    canvas(class="canvas-chart" id="colors" data=colors)
    canvas(class="canvas-chart" id="random" data=random)