extends layout.pug

block content
    h2(class="center")="Register Page"
    hr
    if error
        p(class="text-red")=error
    form(action="login" method="post")
        div(class="form-row")
            div(class="form-group col-md-6")
                label(for="username")="Username"
                input(id="username" type="text" name="username" class="form-control")
            div(class="form-group col-md-6")
                label(for="password")="Password"
                input(id="password" type="password" name="password" class="form-control")
        div(class="form-group")
            a(href="/register")="Don't have any account? Register here"
        input(class="btn btn-secondary" type="submit")