extends layout

block content
    - var toppings = ["Pepperoni", "Mushroom", "Anchovies", "Sausage", "Artichokes", "Pineapple"];
    - var colors = ["Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Pink", "Black", "White"];
    if error
        p(class="text-red")=error

    form(action="register" method="post")
        p   
            | Username
            br
            input(type="text" name="username")
        p
            | Password
            br
            input(type="password" name="password")
        p
            | Confirm Password
            br
            input(type="password" name="password-confirm")
        p
            | Email
            br
            input(type="text" name="email")
        p
            | Age
            br
            input(type="number" name="age")
        p
            | Favorite Pizza Topping
            each topping in toppings
                br
                input(type="radio" name="topping" value=topping)
                label(for=topping)
                    = topping 
        p
            | Favorite Color
            each color in colors
                br
                input(type="radio" name="color" value=color)
                label(for=color)
                    = color 
        p
            | Random Number from 0-100
            br
            input(type="number" name="random" value=0)
        input(type="submit")